.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}
.rightbarProfileImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    width: 10px;
    height: 10px;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: -2px;
    border: 2px solid white;
}

.rightbarUsername{
    font-weight: 500
}