.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg{
    width: 2rem;
    height: 2rem;
    margin-right: 10px   ;
    border-radius: 50%;
    object-fit: cover;
}
